<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <groomerreview>
            <emailtemplate>
                <groomerreview_notify_groomer>groomerreview_groomerreviewemail_groomerreview_send_center_email</groomerreview_notify_groomer>
            </emailtemplate>
        </groomerreview>
    </default>
</config>
