<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_GroomerReview
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\GroomerReview\Api\GroomerReviewRepositoryInterface" type="Zigly\GroomerReview\Model\GroomerReviewRepository"/>
	<preference for="Zigly\GroomerReview\Api\Data\GroomerReviewInterface" type="Zigly\GroomerReview\Model\Data\GroomerReview"/>
	<preference for="Zigly\GroomerReview\Api\Data\GroomerReviewSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<!-- <virtualType name="Zigly\GroomerReview\Model\ResourceModel\GroomerReview\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_groomerreview_groomerreview</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\GroomerReview\Model\ResourceModel\GroomerReview\Collection</argument>
		</arguments>
	</virtualType> -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="zigly_groomerreview_groomerreview_listing_data_source" xsi:type="string">Zigly\GroomerReview\Model\ResourceModel\GroomerReview\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>

