<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Login
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="meat_login_loginpostplugin" type="Zigly\Login\Plugin\LoginPostPlugin" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Controller\Account\Login">
        <plugin name="zigly_login_loginplugin" type="Zigly\Login\Plugin\LoginPlugin" sortOrder="1" />
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="zigly_profileimg"
                type="Zigly\Login\Plugin\CustomerData\Customer"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Mageplaza\SocialLogin\Controller\Social\AbstractSocial">
        <plugin name="zigly_social_fullname"
                type="Zigly\Login\Plugin\Social\AbstractSocialPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <preference for="Mageplaza\SocialLogin\Controller\Social\Login"
            type="Zigly\Login\Controller\Social\Login" />
    <preference for="Mageplaza\SocialLogin\Controller\Popup\Create"
            type="Zigly\Login\Controller\Popup\Create" />
    <preference for="Mageplaza\SocialLogin\Model\Social"
            type="Zigly\Login\Model\Social" />
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="mpcustomerapproval_customer_authenticated" disabled="true"/>
        <plugin name="ziglyapproval_customer_authenticated" type="Zigly\Login\Plugin\CustomerAuthenticated" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Account\LogoutSuccess">
        <plugin name="zigly_LogoutSuccess_plugin" type="Zigly\Login\Plugin\LogoutSuccessPlugin" sortOrder="1" />
    </type>
</config>