<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="groominghub" frontName="groominghub">
			<module name="Zigly_ScheduleManagementApi" before="Magento_Backend"/>
		</route>
		<route id="groominghubpincode" frontName="groominghubpincode">
			<module name="Zigly_ScheduleManagementApi" before="Magento_Backend"/>
		</route>
		<route id="groominghubslot" frontName="groominghubslot">
			<module name="Zigly_ScheduleManagementApi" before="Magento_Backend"/>
		</route>
		<route frontName="zigly_schedulemanagementapi" id="zigly_schedulemanagementapi">
			<module before="Magento_Backend" name="Zigly_ScheduleManagementApi"/>
		</route>
	</router>
</config>
