<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_PincodeChecker
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="pincode" sortOrder="1">
            <label>Pincode Checker</label>
        </tab>
        <!-- <section id="cedcore" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>pincode</tab>
            <label>Installed Extensions</label>
            <resource>Ced_PincodeChecker::cedcore</resource> 
            <group id="installed_extensions" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Installed Extensions</label>
                <frontend_model>Ced\PincodeChecker\Block\Extensions</frontend_model>  
            </group>
                      
            
            <group id="feeds_group" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notifications</label>
                <field id="feeds" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>I'd like to be informed by CedCommerce about:</label>
                    <source_model>Ced\PincodeChecker\Model\Source\Updates\Type</source_model>
                 </field>             
            </group>
             <group id="extensions_groups" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CedCommerce Extensions Store</label>
                
                <field id="extensions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CedCommerce</label>
                    <frontend_model>Ced\PincodeChecker\Block\Cedcommerce\Store</frontend_model>
                 </field>  
              </group>
        </section> -->
        <section id="pincode" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <tab>pincode</tab>
            <label>Pincode Checker</label>
            <resource>Ced_PincodeChecker::pincode</resource>
            
            <!-- Pincode Checker Configuration -->
            
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 
                <field id="allowed_product_page" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Pincode Checker on product page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cod_allowed_text" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>COD Allowed Message</label>
                </field>
                <field id="cod_not_allowed_text" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>COD Not Allowed Message</label>
                </field>
                <field id="delivery_text" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Delivery Days Message</label>
                    <comment><![CDATA[Enter message in this format: Delivered in {{from-days}} - {{to-days}} days to {{pincode}}]]></comment>
                </field>
                <field id="delivery_days_margin" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <validate>required-entry integer validate-greater-than-zero</validate> 
                    <label>Delivery Days Margin</label>
                </field>
                <field id="pincode_label" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pincode Label</label>
                </field>
                <field id="zip_not_found" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pincode Not Found Message</label>
                </field>                  
            </group>  
        </section>
    </system>
</config>
