<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_LoginApi
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zigly\LoginApi\Api\LoginRepositoryInterface" type="Zigly\LoginApi\Model\LoginRepository"/>
    <preference for="Zigly\LoginApi\Api\Data\LoginResponseInterface" type="Zigly\LoginApi\Model\LoginResponseApi123" />
</config>