<?xml version="1.0"?>
<!-- 
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Cityscreen
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="customer_logout">
        <observer name="zigly_cityscreen_customer_logout" instance="Zigly\Cityscreen\Observer\CustomerLogout"/>
    </event> -->
    <event name="customer_login">
        <observer name="zigly_customer_login_observer" instance="Zigly\Cityscreen\Observer\CustomerLogin" />
    </event>
</config>
