<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_VetConsultingApi
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zigly\VetConsultingApi\Api\VetConsultingRepositoryInterface" type="Zigly\VetConsultingApi\Model\VetConsultingRepository"/>
    <preference for="Zigly\VetConsultingApi\Api\Data\VetConsultingSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Zigly\VetConsultingApi\Api\VetConsultingTimeSlotsRepositoryInterface" type="Zigly\VetConsultingApi\Model\VetConsultingTimeSlotsRepository"/>
    <preference for="Zigly\VetConsultingApi\Api\Data\VetConsultingTimeSlotsInterface" type="Zigly\VetConsultingApi\Model\Api\VetConsultingTimeSlotsResponseApi"/>
</config>