<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Catalog
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zigly" translate="label" sortOrder="10">
            <label>Zigly</label>
        </tab>
        <section id="listingpage" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Listing Page</label>
            <tab>zigly</tab>
            <resource>Zigly_Catalog::catalog_config</resource>
            <group id="favorite" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer Favorite</label>
                <field id="customer_favorite" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Limit</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="exclusive" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Exclusively at Zigly</label>
                 <field id="exclusive_at_zigly" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Limit</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
