<?xml version="1.0" ?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Login
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Adminhtml\Edit\ResetPasswordButton" type="Zigly\Login\Block\Adminhtml\Edit\ResetPasswordButton" />
</config>
