<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\ScheduleManagementApi\Api\ScheduleManagementInterface" type="Zigly\ScheduleManagementApi\Model\ScheduleManagement"/>
	<preference for="Zigly\ScheduleManagementApi\Api\GroomingHubRepositoryInterface" type="Zigly\ScheduleManagementApi\Model\GroomingHubRepository"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingHubInterface" type="Zigly\ScheduleManagementApi\Model\GroomingHub"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingHubSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHub\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_schedulemanagementapi_groominghub</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHub\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="zigly_schedulemanagementapi_groominghub_listing_data_source" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHub\Grid\Collection</item>
				<item name="zigly_schedulemanagementapi_groominghubpincode_listing_data_source" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHubPincode\Grid\Collection</item>
				<item name="zigly_schedulemanagementapi_groomingslottable_listing_data_source" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingSlotTable\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="Zigly\ScheduleManagementApi\Api\GroomingHubPincodeRepositoryInterface" type="Zigly\ScheduleManagementApi\Model\GroomingHubPincodeRepository"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingHubPincodeInterface" type="Zigly\ScheduleManagementApi\Model\GroomingHubPincode"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingHubPincodeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHubPincode\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_schedulemanagementapi_groominghubpincode</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingHubPincode\Collection</argument>
		</arguments>
	</virtualType>
	<preference for="Zigly\ScheduleManagementApi\Api\GroomingSlotTableRepositoryInterface" type="Zigly\ScheduleManagementApi\Model\GroomingSlotTableRepository"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingSlotTableInterface" type="Zigly\ScheduleManagementApi\Model\GroomingSlotTable"/>
	<preference for="Zigly\ScheduleManagementApi\Api\Data\GroomingSlotTableSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingSlotTable\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_schedulemanagementapi_groomingslottable</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\ScheduleManagementApi\Model\ResourceModel\GroomingSlotTable\Collection</argument>
		</arguments>
	</virtualType>
</config>
