<!--@subject {{trans "Services - Booking - Cancel"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
   <tr>
       <td>
           <div>Your request for cancellation of '{{var cancelDetails.service}}' for pet '{{var cancelDetails.name}}' at {{var cancelDetails.hours}} {{var cancelDetails.date}} is being processed. Click here to reschedule with <a href={{var cancelDetails.url}}>Zigly</a>.</div>
       </td>
   </tr>
</table>
{{template config_path="design/email/footer_template"}}
