<!--@subject {{trans "Order - Return"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
   <tr>
       <td>
           <div>Boop! You have successfully placed a return request against order '{{var cancelDetails.orderid}}'. Our executive will arrive at your location to collect the order in '{{var cancelDetails.days}}'days. Thank you for choosing Zigly.</div>
       </td>
   </tr>
</table>
{{template config_path="design/email/footer_template"}}
