<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Catalog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu"
                type="Zigly\Catalog\Block\Html\Topmenu" />
    <preference for="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator" 
                type="Zigly\Catalog\Model\Quote\Item\QuantityValidator" />
    <preference for="Mageplaza\Blog\Controller\Post\Index" 
                type="Zigly\Catalog\Controller\Mageplaza\Post\Index" />
    <preference for="Sparsh\BuyNow\Controller\Cart\Add" type="Zigly\Catalog\Controller\Cart\Add" />
    <type name="Mageplaza\Blog\Block\Frontend">
        <plugin name="Zigly_Catalog_Plugin_Mageplaza_Blog_Block_Frontend" type="Zigly\Catalog\Plugin\Mageplaza\Blog\Block\Frontend" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Zigly_Catalog::product_sort_options" type="Zigly\Catalog\Plugin\Model\Config"/>
    </type>
    <preference for="Magento\Catalog\Block\Category\View" type="Zigly\Catalog\Rewrite\Magento\Catalog\Block\Category\View"/>
</config>