<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Catalog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nordcomputer\Showoutofstockprice\ConfigurableProduct\Helper\Data\Data" type="Zigly\Catalog\Helper\ConfigurableProduct\Data"/>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="ShowOutOfStockProducts" type="Nordcomputer\Showoutofstockprice\Plugin\ShowOutOfStockProductsPlugin" disabled="true" />
        <plugin name="Zigly_ShowOutOfStockProducts" type="Zigly\Catalog\Plugin\ShowOutOfStockProductsPlugin" />
    </type>
</config>