<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_GroomingService
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="GroomingService::first_level" title="Services Booking Management" module="Zigly_GroomingService" parent="Zigly::top_level" sortOrder="80" resource="Zigly_GroomingService::Grooming"/>
		<add id="Zigly_GroomingService::zigly_groomingservice_grooming" title="Manage Services" module="Zigly_GroomingService" sortOrder="9999" resource="Zigly_GroomingService::Grooming" parent="GroomingService::first_level" action="zigly_groomingservice/grooming/index"/>
	</menu>
</config>
