<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_PincodeChecker
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
 <default>
    <pincode>
        <general>
            <enabled>1</enabled>
            <allowed_product_page>1</allowed_product_page>
            <addjs>0</addjs>
            <cod_allowed_text>COD is Available at "{{zipcode}}"</cod_allowed_text>
            <cod_not_allowed_text>COD is Not Available at "{{zipcode}}"</cod_not_allowed_text>
            <delivery_text>Delivered in {{from-days}} - {{to-days}} days to {{pincode}}</delivery_text>
            <delivery_days_margin>1</delivery_days_margin>
            <pincode_label>Pin Code :</pincode_label>
            <zip_not_found>Delivery to this Pincode is not feasible right now.</zip_not_found>
        </general>
    </pincode>
    <system>
            <csmarketplace>
                <feed_url>cedcommerce.com/licensing/log/post</feed_url>
                <popup_url>widgets.magentocommerce.com/notificationPopup</popup_url>
                <severity_icons_url>widgets.magentocommerce.com/%s/%s.gif</severity_icons_url>
                <frequency>72</frequency>
                <last_update>0</last_update>
            </csmarketplace>
            <license>
                <use_https>0</use_https>
                <license_url>pincodechecker/main/license</license_url>
                <activate_url>cedcommerce.com/licensing/validate/</activate_url>
                <validate_url>cedcommerce.com/licensing/validate/auto</validate_url>
            </license>
        </system>
        <cedcore>
               <feeds_group>
                    <feeds>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</feeds>
               </feeds_group>
          </cedcore>
    </default>
</config>
