.calender-date-day-selection {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 25px;
    place-content: space-between;
    place-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.calender-date-day-selection .grooming-calendar {
    width: 100%;
}
.calender-date-day-selection #grooming-calendar-slot {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    /* height: 100%; */
    padding: 30px 40px;
    border-radius: 24px;
    box-shadow: 1px 1px 54px rgb(5 43 80 / 10%);
    -webkit-box-shadow: 1px 1px 54px rgb(5 43 80 / 10%);
    -moz-box-shadow: 1px 1px 54px rgba(5, 43, 80, 0.1);
}
.calender-date-day-selection #grooming-calendar-slot button.fc-today-button.fc-button.fc-button-primary {
    display: none;
}
.calender-date-day-selection #grooming-calendar-slot button.fc-prev-button.fc-button.fc-button-primary {
    background: transparent !important;
    color: #183762 !important;
    border: none !important;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -webkit-box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -moz-box-shadow: 0 3px 5px rgba(24, 55, 98, 0.5);
    margin-right: 10px;
}
.calender-date-day-selection #grooming-calendar-slot button.fc-next-button.fc-button.fc-button-primary {
    background: #183762 !important;
    color: #fff !important;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 0.4px solid #052A50;
    box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -webkit-box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -moz-box-shadow: 0 3px 5px rgba(24, 55, 98, 0.5);
}
.calender-date-day-selection #grooming-calendar-slot .fc-button .fc-icon {
    margin-top: -6px;
}
 .calender-date-day-selection #grooming-timeslot {
    width: 100%;
}
 .calender-date-day-selection .grooming-calendar table.fc-scrollgrid tr th,  .calender-date-day-selection .grooming-calendar table.fc-scrollgrid tr td {
    border: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.calender-date-day-selection .grooming-calendar table.fc-scrollgrid .fc-scroller {
    overflow: hidden !important;
    width: 100%;
}
.calender-date-day-selection .grooming-calendar .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calender-date-day-selection .grooming-calendar .fc-daygrid-day-number {
    position: relative;
    z-index: 4;
    padding: 4px;
    color: #183762;
    font-size: 16px;
    font-family: 'nunito_sanssemibold';
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
}
.calender-date-day-selection .grooming-calendar table.fc-scrollgrid tr.fc-scrollgrid-section.fc-scrollgrid-section-header td {
    height: 40px;
}
.calender-date-day-selection #grooming-calendar-slot .fc-toolbar-title {
    margin: auto;
    color: #183762;
    font-size: 25px;
    font-family: 'nunito_sansbold';
    text-transform: capitalize;
}
.calender-date-day-selection .grooming-calendar table.fc-scrollgrid .fc-scroller table.fc-col-header th {
    width: 100% !important;
    height: 40px;
}
.calender-date-day-selection .grooming-calendar table.fc-scrollgrid .fc-scroller table.fc-col-header th a {
    color: #183762;
    font-size: 16px;
    font-family: 'nunito_sanssemibold';
    font-weight: normal;
    text-transform: capitalize;
}
.calender-date-day-selection .selection-note {
    color: #183762;
    font-family: 'nunito_sanssemibold';
    font-size: 14px;
    padding: 25px 0 0 0;
}
.calender-date-day-selection #grooming-timeslot .title {
    color: #183762;
    font-size: 25px;
    font-family: 'nunito_sansbold';
    text-transform: capitalize;
    padding: 0 0 20px 40px;
    position: relative;
}
.calender-date-day-selection #grooming-timeslot .title:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../images/clock_icon.png) no-repeat center;
    background-size: 100%;
    left: 1px;
    top: 6px;
}
.calender-date-day-selection #grooming-calendar-slot .fc-scrollgrid-liquid {
    border: 0;
}
.calender-date-day-selection #grooming-timeslot ol {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 20px;
    place-content: space-between;
    place-items: start;
    list-style: none;
    width: 100%;
    height: 100%;
}
.calender-date-day-selection #grooming-timeslot ol li.slot-time {
    width: 100%;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    border: 2px solid #183762;
    border-radius: 24px;
    font-size: 15px;
    color: #183762;
    text-transform: uppercase;
    font-family: 'nunito_sanssemibold';
    cursor: pointer;
}
.calender-date-day-selection .title {
    width: 50%;
    float: left;
    margin: auto;
    color: #183762;
    font-size: 30px;
    font-family: 'nunito_sansbold';
    text-transform: capitalize;
}
.calender-date-day-selection .actions {
    text-align: right;
    float: right;
    width: 50%;
}
.calender-date-day-selection .actions #submit-schedule {
    padding: 10px 20px;
    background: #183762;
    color: #fff;
    font-size: 14px;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: 'nunito_sansbold';
    min-width: 100px;
    text-align: center;
}
.calender-date-day-selection .grooming-calendar .fc .fc-daygrid-day.selectedDate .fc-daygrid-day-frame {
    background: #183762;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -webkit-box-shadow: 0 3px 5px rgb(24 55 98 / 50%);
    -moz-box-shadow: 0 3px 5px rgba(24, 55, 98, 0.5);
}
.calender-date-day-selection .grooming-calendar .fc .fc-daygrid-day.selectedDate .fc-daygrid-day-bg .fc-highlight {
    background-color: transparent;
}
.calender-date-day-selection .grooming-calendar .fc .fc-daygrid-day.selectedDate .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number {
    color: #fff;
}
.calender-date-day-selection #grooming-timeslot ol li.slot-time.selected-time {
    background-color:  #183762;
    color: #fff;
}