<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="mobile" frontName="mobile">
			<module name="Zigly_Mobilehome" before="Magento_Backend"/>
		</route>
		<route frontName="zigly_mobilehome" id="zigly_mobilehome">
			<module before="Magento_Backend" name="Zigly_Mobilehome"/>
		</route>
	</router>
</config>
