<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Sales
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <msggateway>
            <servicesbookingemail>
                <cancel_booking_email>msggateway_servicesbookingemail_cancel_booking_email</cancel_booking_email>
                <cancel_admin_notiy_email>msggateway_servicesbookingemail_cancel_admin_notiy_email</cancel_admin_notiy_email>
                <cancel_groomer_notiy_email>msggateway_servicesbookingemail_cancel_groomer_notiy_email</cancel_groomer_notiy_email>
                <cancel_groomer_copy_email>msggateway_servicesbookingemail_cancel_groomer_copy_email</cancel_groomer_copy_email>
                <cancel_booking_sms_sender_name>ZIGLYy</cancel_booking_sms_sender_name>
            </servicesbookingemail>
        </msggateway>
        <msggateway>
            <sales_orders_configuration>
                <orders_sender_name>ZIGLYy</orders_sender_name>
            </sales_orders_configuration>
            <order_payment>
                <success_payment_sender_name>ZIGLYy</success_payment_sender_name>
                <order_success_payment_sms>6151c589f818425e0504ec53</order_success_payment_sms>
            </order_payment>
        </msggateway>
        <order>
            <order_cancel_reason_config>
                <cancel_reason_email>order_order_cancel_reason_config_cancel_reason_email</cancel_reason_email>
                <return_reason_email>order_order_cancel_reason_config_return_reason_email</return_reason_email>
                <cancel_reason_admin_email>order_order_cancel_reason_config_cancel_reason_admin_email</cancel_reason_admin_email>
                <return_reason_admin_email>order_order_cancel_reason_config_return_reason_admin_email</return_reason_admin_email>
                <cancel_reason_sms_sender_name>ZIGLYy</cancel_reason_sms_sender_name>
                <cancel_reason_sms>611b4cb473a12b18ad760a15</cancel_reason_sms>
                <return_reason_sms_sender_name>ZIGLYy</return_reason_sms_sender_name>
                <return_reason_sms>611b4cff7c47192e5204e0b2</return_reason_sms>
                <order_cancel_reason_sms>6155899d47e1784fcd14a968</order_cancel_reason_sms>
                <order_cancel_reason_email>order_order_cancel_reason_config_order_cancel_reason_email</order_cancel_reason_email>
            </order_cancel_reason_config>
        </order>
        <brown_tape>
            <api_config>
                <username>anoop.tripathi@cosmofilms.com</username>
                <auth>899b625646f1dd2b403052792058ded6409b200b</auth>
                <channel_id>28913</channel_id>
            </api_config>
        </brown_tape>
        <shipment>
            <api_config>
                <track_url>https://zigly.shiprocket.co/tracking/</track_url>
            </api_config>
        </shipment>
        <commission>
            <groomer>
                <at_home>10</at_home>
                <at_center>10</at_center>
            </groomer>
        </commission>
    </default>
</config>
