<?xml version="1.0" ?>
<!-- 
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Cityscreen
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\Cityscreen\Api\CityscreenRepositoryInterface" type="Zigly\Cityscreen\Model\CityscreenRepository"/>
	<preference for="Zigly\Cityscreen\Api\Data\CityscreenInterface" type="Zigly\Cityscreen\Model\Data\Cityscreen"/>
	<preference for="Zigly\Cityscreen\Api\Data\CityscreenSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Zigly\Cityscreen\Model\ResourceModel\Cityscreen\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_cityscreen_cityscreen</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\Cityscreen\Model\ResourceModel\Cityscreen\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="zigly_cityscreen_cityscreen_listing_data_source" xsi:type="string">Zigly\Cityscreen\Model\ResourceModel\Cityscreen\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Customer\CustomerData\SectionPoolInterface">
		<arguments>
			<argument name="sectionSourceMap" xsi:type="array">
				<item name="cityscreen" xsi:type="string">Zigly\Cityscreen\CustomerData\CityScreen</item>
			</argument>
		</arguments>
	</type>
</config>
