<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_CouponService
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CouponService::first_level" title="Service Coupons Management" module="Zigly_CouponService" parent="Zigly::top_level" sortOrder="100" resource="Zigly_CouponService::CouponService"/>
        <add id="Zigly_CouponService::zigly_couponservice_couponservice" title="Manage Service Coupons" module="Zigly_CouponService" sortOrder="9999" resource="Zigly_CouponService::CouponService" parent="CouponService::first_level" action="zigly_couponservice/couponservice/index"/>
    </menu>
</config>
