<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_VetConsulting
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vetconsulting>
            <received_prescription>
                <received_prescription_sms_template_id></received_prescription_sms_template_id>
            </received_prescription>
        </vetconsulting>
    </default>
</config>
