<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\MobileAPIs\Api\OrderManagementInterface" type="Zigly\MobileAPIs\Model\OrderService"/>
	<preference for="Zigly\MobileAPIs\Api\BookingCancelStatusInterface" type="Zigly\MobileAPIs\Model\BookingStatus"/>
	<preference for="Zigly\MobileAPIs\Api\PrescriptionEmailInterface" type="Zigly\MobileAPIs\Model\PrescribedMail"/>
		<preference for="Zigly\MobileAPIs\Api\WalletTransactionInterface" type="Zigly\MobileAPIs\Model\WalletApplied"/>
		<preference for="Zigly\MobileAPIs\Api\FeedbackMessageInterface" type="Zigly\MobileAPIs\Model\Feedback"/>
	<preference for="Magento\Framework\Mail\Template\TransportBuilder" type="Zigly\MobileAPIs\Mail\TransportBuilder"/>		<preference for="Zigly\MobileAPIs\Api\WalletDetailsInterface" type="Zigly\MobileAPIs\Model\WalletBalanceDetails"/>
	<type name="Magento\Framework\Webapi\Rest\Response\Renderer\Json">
		<plugin name="zigly_mobileAPIsplugin" type="Zigly\MobileAPIs\Plugin\JsonPlugin" sortOrder="20" disabled="false" />
	</type>
</config>