<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\Mobilehome\Api\MobilehomeManagementInterface" type="Zigly\Mobilehome\Model\MobilehomeManagement"/>
	<preference for="Zigly\Mobilehome\Api\MobilehomeRepositoryInterface" type="Zigly\Mobilehome\Model\MobilehomeRepository"/>
	<preference for="Zigly\Mobilehome\Api\Data\MobilehomeInterface" type="Zigly\Mobilehome\Model\Mobilehome"/>
	<preference for="Zigly\Mobilehome\Api\Data\MobilehomeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Zigly\Mobilehome\Model\ResourceModel\Mobilehome\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">zigly_mobilehome_mobilehome</argument>
			<argument name="resourceModel" xsi:type="string">Zigly\Mobilehome\Model\ResourceModel\Mobilehome\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="zigly_mobilehome_mobilehome_listing_data_source" xsi:type="string">Zigly\Mobilehome\Model\ResourceModel\Mobilehome\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Zigly\Mobilehome\ReferenceImageUpload" type="Zigly\Mobilehome\Model\ImageUploader">
	    <arguments>
	        <argument name="baseTmpPath" xsi:type="string">Zigly/tmp/mobilehome</argument>
	        <argument name="basePath" xsi:type="string">Zigly/mobilehome</argument>
	        <argument name="allowedExtensions" xsi:type="array">
	            <item name="jpg" xsi:type="string">jpg</item>
	            <item name="jpeg" xsi:type="string">jpeg</item>
	            <item name="gif" xsi:type="string">gif</item>
	            <item name="png" xsi:type="string">png</item>
	        </argument>
	        <argument name="allowedMimeTypes" xsi:type="array">
	            <item name="jpg" xsi:type="string">image/jpg</item>
	            <item name="jpeg" xsi:type="string">image/jpeg</item>
	            <item name="gif" xsi:type="string">image/gif</item>
	            <item name="png" xsi:type="string">image/png</item>
	        </argument> 
	    </arguments>
	</virtualType>
	 
	<type name="Zigly\Mobilehome\Controller\Adminhtml\Mobilehome\Upload">
	    <arguments>
	        <argument name="imageUploader" xsi:type="object">Zigly\Mobilehome\ReferenceImageUpload</argument>
	    </arguments>
	</type>
</config>
