<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <referral_program>
            <options>
                <action>1</action>
                <value>10</value>
                <customer_value>15</customer_value>
                <whatsapp_description>I’m inviting you to Join Zigly for Happy Pets, Use my referral code({{referralcode}}) - just enter it while creating your account, you will get a cashback amount of  Rs {{referee}} on singup  {{signup}}</whatsapp_description>
            </options>
        </referral_program>
    </default>
</config>