<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Hub
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zigly_Hub::zigly_hub_hub" title="Manage Hub" module="Zigly_Hub" sortOrder="20" resource="Zigly_Hub::Hub" parent="Zigly::first_level" action="zigly_hub/hub/index"/>
    </menu>
</config>
