<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Zigly_Main::Menu" title="Zigly" sortOrder="10">
                    <resource id="Zigly_Wallet::Wallet" title="Wallet" sortOrder="10">
                        <resource id="Zigly_Wallet::Wallet_view" title="View Wallet" sortOrder="10"/>
                        <resource id="Zigly_Wallet::Wallet_Add" title="Add Money Wallet" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>