<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Sales
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wallet>
            <general>
                <enabled>1</enabled>
            </general>
            <wallet_recharge>
                <minimum_recharge>100</minimum_recharge>
            </wallet_recharge>
            <wallet_notification>
                <wallet_recharge_sender_name>ZIGLYy</wallet_recharge_sender_name>
                <wallet_recharge_email>wallet_wallet_notification_wallet_recharge_email</wallet_recharge_email>
            </wallet_notification>
        </wallet>
    </default>
</config>
