<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Wallet
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Zigly\Wallet\Api\CheckoutWalletManagementInterface" type="Zigly\Wallet\Model\CheckoutWalletManagement"/> -->
    <preference for="Zigly\Wallet\Api\WalletRepositoryInterface" type="Zigly\Wallet\Model\WalletRepository"/>
    <preference for="Zigly\Wallet\Api\Data\WalletInterface" type="Zigly\Wallet\Model\Data\Wallet"/>
    <preference for="Zigly\Wallet\Api\Data\WalletSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Zigly\Wallet\Model\ResourceModel\Wallet\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zigly_wallet_wallet</argument>
            <argument name="resourceModel" xsi:type="string">Zigly\Wallet\Model\ResourceModel\Wallet</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zigly_wallet_wallet_listing_data_source" xsi:type="string">Zigly\Wallet\Model\ResourceModel\Wallet\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Customer\Model\ResourceModel\Grid\Collection" type="Zigly\Wallet\Model\ResourceModel\Customer\Grid\Collection" />
</config>
