<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Login
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestat\SigninPhoneNumber\Model\AccountManagement"
                type="Zigly\Login\Model\AccountManagement" />
    <preference for="Magento\Customer\Controller\Account\Create"
                type="Zigly\Login\Controller\Account\Create" />
    <preference for="Magento\Customer\Controller\Account\EditPost"
                type="Zigly\Login\Controller\Account\EditPost" />
    <preference for="Magento\Customer\Controller\Address\FormPost"
                type="Zigly\Login\Controller\Address\FormPost" />
    <preference for="Magento\Customer\Controller\Address\Delete"
                type="Zigly\Login\Controller\Address\Delete" />
    <type name="Magento\User\Block\User\Edit\Tab\Main">
        <plugin name="user_admin_rename_first_name" type="Zigly\Login\Plugin\Block\Adminhtml\User\Edit\Tab\Main" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="customer_plugin_account_create_post" type="Zigly\Login\Plugin\CustomerCreatePost" sortOrder="0"/>
    </type>
    <preference for="Magento\Customer\Block\Widget\Name"
                type="Zigly\Login\Block\Widget\Name" />
    <preference for="Magento\Checkout\Controller\Index\Index"
                type="Zigly\Login\Controller\Checkout\Index" />
    <preference for="Magento\Customer\Block\Widget\Telephone"
                type="Zigly\Login\Block\Widget\Telephone" />
    <preference for="Magento\Customer\Block\Address\Grid"
                type="Zigly\Login\Block\Address\Grid" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="Custom_Checkout" type="Zigly\Login\Block\Checkout\LayoutProcessor" sortOrder="100"/>
    </type>
    <type name="Magento\Customer\Model\Address\CompositeValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="general" xsi:type="object">Zigly\Login\Model\Customer\Address\Validator\General</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Contact\Controller\Index\Post" type="Zigly\Login\Controller\Index\Post" />
    <preference for="Magento\Backend\Block\Dashboard\Tab\Customers\Newest" type="Zigly\Login\Block\Dashboard\Tab\Customers\Newest" />
    <preference for="Magento\Quote\Model\ChangeQuoteControl" type="Zigly\Login\Model\ChangeQuoteControl" />
</config>