<?xml version="1.0" ?>
<!-- 
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Cityscreen
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zigly::top_level" title="Zigly" module="Zigly_Cityscreen" sortOrder="20" resource="Zigly_Main::Menu"/>
        <add id="Zigly::first_level" title="City Management" module="Zigly_Cityscreen" sortOrder="50" parent="Zigly::top_level" resource="Zigly_Cityscreen::Cityscreen"/>
        <add id="Zigly_Cityscreen::zigly_cityscreen_cityscreen" title="Manage City" module="Zigly_Cityscreen" sortOrder="10" resource="Zigly_Cityscreen::Cityscreen" parent="Zigly::first_level" action="zigly_cityscreen/cityscreen/index"/>
    </menu>
</config>
