<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Groomer
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- <resource id="Zigly_Groomer::groomer" title="groomer" sortOrder="10">
                    <resource id="Zigly_Groomer::index_index" title="index index" sortOrder="10"/>
                </resource> -->
                <resource id="Zigly_Main::Menu" title="Zigly" sortOrder="10">
	                <resource id="Zigly_Groomer::Groomer" title="Groomer" sortOrder="10">
	                    <resource id="Zigly_Groomer::Groomer_save" title="Save Groomer" sortOrder="10"/>
	                    <resource id="Zigly_Groomer::Groomer_delete" title="Delete Groomer" sortOrder="20"/>
	                    <resource id="Zigly_Groomer::Groomer_update" title="Update Groomer" sortOrder="30"/>
	                    <resource id="Zigly_Groomer::Groomer_view" title="View Groomer" sortOrder="40"/>
	                    <resource id="Zigly_Groomer::Groomer_status" title="Status Groomer" sortOrder="50"/>
	                </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
