<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Zigly\Groomingapi\Api\GetPetsManagementInterface" type="Zigly\Groomingapi\Model\GetPetsManagement"/>
	<preference for="Zigly\Groomingapi\Api\Data\GetPetsInterface" type="Zigly\Groomingapi\Model\GetPetsResponse" />
	<preference for="Zigly\Groomingapi\Api\EditPetManagementInterface" type="Zigly\Groomingapi\Model\EditPetsManagement"/>
	<preference for="Zigly\Groomingapi\Api\Data\GetPetsInterface" type="Zigly\Groomingapi\Model\EditPetResponse" />
	<preference for="Zigly\Groomingapi\Api\GetPlanManagementInterface" type="Zigly\Groomingapi\Model\GetPlanManagement"/>
	<preference for="Zigly\Groomingapi\Api\GetPetsInterface" type="Zigly\Groomingapi\Model\GetPlanResponse"/>
	<preference for="Zigly\Groomingapi\Api\UserLocationManagementInterface" type="Zigly\Groomingapi\Model\UserLocationManagement"/>
	<preference for="Zigly\Groomingapi\Api\DeletePetManagementInterface" type="Zigly\Groomingapi\Model\DeletePetManagement"/>
	<preference for="Zigly\Groomingapi\Api\Data\GetPetsInterface" type="Zigly\Groomingapi\Model\DeletePetResponse" />
	<preference for="Zigly\Groomingapi\Api\GetBreedsManagementInterface" type="Zigly\Groomingapi\Model\GetBreedsManagement"/>
	<!-- <preference for="Magento\InventorySourceDeductionApi\Model\SourceDeductionService"
                type="Zigly\Groomingapi\Model\SourceDeductionService" /> -->
	<type name="Magento\Framework\Webapi\Rest\Response\RendererFactory">
        <arguments>
            <argument name="renders" xsi:type="array">
                <item name="multipart" xsi:type="array">
                    <item name="type" xsi:type="string">multipart/form-data</item>
                    <item name="model" xsi:type="string">Zigly\GroomingService\Webapi\Rest\Response\Renderer\Multipart</item>
                </item>
            </argument>
        </arguments>
    </type>
	<preference for="Zigly\Groomingapi\Api\AddPetManagementInterface" type="Zigly\Groomingapi\Model\AddPetManagement"/>
	<preference for="Zigly\Groomingapi\Api\Data\GetPetsInterface" type="Zigly\Groomingapi\Model\AddPetResponse" />
</config>
