<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="zigly_wallet" id="zigly_wallet">
			<module before="Magento_Backend" name="Zigly_Wallet"/>
		</route>
	</router>
</config>