<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Login
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zigly" translate="label" sortOrder="10">
            <label>Zigly</label>
        </tab>
        <section id="wallet" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wallet</label>
            <tab>zigly</tab>
            <resource>Zigly_Wallet::wallet_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Wallet</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_recharge" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Recharge For Customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="wallet_recharge" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Recharge</label>
                <field id="minimum_recharge" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Recharge</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="maximum_recharge" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Recharge</label>
                    <validate>required-entry validate-number</validate>
                </field>
            </group>
            <group id="wallet_usage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Usage Rules</label>
                <field id="max_transaction" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Transaction Limit</label>
                    <validate>required-entry validate-number validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <comment>In percentage 1 to 100</comment>
                </field>
            </group>
            <group id="cashback_first" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Cashback For First Order</label>
                <field id="percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cashback Percentage</label>
                    <validate>required-entry validate-number validate-not-negative-number validate-digits-range digits-range-1-99</validate>
                    <comment>In percentage 1 to 99</comment>
                </field>
                <field id="start_date" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Date</label>
                    <frontend_model>Zigly\Wallet\Block\Adminhtml\System\Config\Date</frontend_model>
                    <backend_model>Zigly\Wallet\Model\Config\Backend\CashbackDateValidation</backend_model>
                    <validate>required-entry validate-date</validate>
                </field>
                <field id="end_date" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>End Date</label>
                    <frontend_model>Zigly\Wallet\Block\Adminhtml\System\Config\Date</frontend_model>
                    <validate>required-entry validate-date</validate>
                </field>
                <field id="min_amount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Applicable Amount</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="max_cashback" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Cashback Amount</label>
                    <validate>required-entry validate-number</validate>
                </field>
            </group>
            <group id="cashback_second" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Cashback For Second Order</label>
                <field id="percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cashback Percentage</label>
                    <validate>required-entry validate-number validate-not-negative-number validate-digits-range digits-range-1-99</validate>
                    <comment>In percentage 1 to 99</comment>
                </field>
                <field id="start_date" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Date</label>
                    <frontend_model>Zigly\Wallet\Block\Adminhtml\System\Config\Date</frontend_model>
                    <backend_model>Zigly\Wallet\Model\Config\Backend\CashbackDateValidation</backend_model>
                    <validate>required-entry validate-date</validate>
                </field>
                <field id="end_date" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>End Date</label>
                    <frontend_model>Zigly\Wallet\Block\Adminhtml\System\Config\Date</frontend_model>
                    <validate>required-entry validate-date</validate>
                </field>
                <field id="min_amount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Applicable Amount</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="max_cashback" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Cashback Amount</label>
                    <validate>required-entry validate-number</validate>
                </field>
            </group>

            <!-- <group id="wallet_spent" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Spent</label>
                <field id="minimum_spent" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Spent</label>
                    <validate>required-entry</validate>
                </field>
                <field id="maximum_spent" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Spent</label>
                    <validate>required-entry</validate>
                </field>
            </group> -->
            <group id="wallet_money" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Money</label>
                <field id="add_wallet_money" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Wallet Money</label>
                    <frontend_model>Zigly\Wallet\Block\Adminhtml\Form\Field\WalletMoney</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="wallet_notification" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wallet Notifications</label>
                <field id="wallet_recharge_sender_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wallet Recharge Sender Name</label>
                    <validate>required-entry</validate>
                </field>
                <field id="wallet_recharge_sms" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wallet Recharge Sms Templateid</label>
                </field>
                <field id="wallet_recharge_email" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wallet Recharge Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
