<?xml version="1.0"?>
<!--/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_GroomingService
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zigly\GroomingService\Api\GroomingRepositoryInterface" type="Zigly\GroomingService\Model\GroomingRepository"/>
    <preference for="Zigly\GroomingService\Api\Data\GroomingInterface" type="Zigly\GroomingService\Model\Data\Grooming"/>
     <preference for="Magento\Ui\Model\Export\ConvertToCsv" type="Zigly\GroomingService\Model\Export\ConvertToCsv" />
    <preference for="Zigly\GroomingService\Api\Data\GroomingSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Zigly\GroomingService\Model\ResourceModel\Grooming\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zigly_service_grooming</argument>
            <argument name="resourceModel" xsi:type="string">Zigly\GroomingService\Model\ResourceModel\Grooming\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                 <item name="zigly_groomingservice_grooming_listing_data_source" xsi:type="string">Zigly\GroomingService\Model\ResourceModel\Grooming\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Zigly\GroomingService\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Zigly\GroomingService\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Zigly\GroomingService\Model\Grooming">
        <plugin name="zigly_groomingservice_after_save" type="Zigly\GroomingService\Plugin\AfterServiceSave"/>
    </type>
</config>