<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_VetConsulting
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vetconsulting>
            <product_config>
                <sku_for_in_clinic>vet-consult</sku_for_in_clinic>
                <sku_for_insta>vet-consult</sku_for_insta>
                <sku_for_video>vet-consult</sku_for_video>
            </product_config>
        </vetconsulting>
    </default>
</config>
