<!--@subject {{trans "A Groomer Has Been Assigned"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="groomer-mail">
     <tr>
         <td>
         	<div>Yippee! A Zigly Groomer has been assigned for service scheduled for {{var pet}}. {{var groomer}} will groom your pet with love from Zigly. Click here for <a href={{var url}}> details </a>. -Zigly - for happy pets.</div>
         </td>
     </tr>
 </table>

{{template config_path="design/email/footer_template"}}
