<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_ReviewTag
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Zigly_ReviewTag::zigly_reviewtag_reviewtag" title="Review Tag" module="Zigly_ReviewTag" sortOrder="20" resource="Zigly_ReviewTag::ReviewTag" parent="Zigly::next_level" action="zigly_reviewtag/reviewtag/index"/>
	</menu>
</config>
