<?xml version="1.0" ?>
<!-- /**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_ReviewTag
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="zigly_reviewtag" id="zigly_reviewtag">
			<module before="Magento_Backend" name="Zigly_ReviewTag"/>
		</route>
	</router>
</config>
