<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Zigly
 * @package  Zigly_Login
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zigly" translate="label" sortOrder="10">
            <label>Zigly</label>
        </tab>
        <section id="groomerreview" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Groomer Reviews</label>
            <tab>zigly</tab>
            <resource>Zigly_GroomingReview::GroomingReview_config</resource>
            <group id="groomerreviewemail" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Groomer Review Email Configuration</label>
                <field id="send_email_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Email Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="send_phone_no" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Phone No</label>
                    <validate>required-entry</validate>
                </field>
                <field id="groomerreview_send_center_email" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Grommer Review Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
